<%# article_path(article) returns /article/#{article.id} %>
<%# <a href='<%=article_path(article)%>'> %>

<%# link_to(text,destination link) %>
<%# link_to(text,model)->converts object to path %>
<%# link_to(article.title,article)-><a href='articles/#{article.id}'>article.title</a> %>
<h1>Hello, Rails</h1>
<ul>
<%@articles.each do |article|%>
<li>

<%=link_to article.title,article%>
<%=article.title%>
</a>
</li>
<%end%>
</ul>

<%# <a href='articles/new'>New Article</a> %>
<%=link_to 'New Article',new_article_path%>